
/*****************************
00. AutoHQ Dealer CSS
*****************************/



/*==============.hero-area==================*/ 
.hero-bg2{background-image: url(../img/hero-bg-2.jpg)}
.hero-area{
    @extend %backgroundimage;
    @extend %posrelative;
    height: 445px;
	margin-bottom: 45px;
	background-color: #f6f6f6;
    @include mx-large-desktops(){
        background-position: 67% 0;
    };
    @include mx-desktops(){
        background-position: 70% 0;
    };
    @include all-below-med(){
        background-position: 65% 0;
        height: 270px;
		margin-bottom: 0;
    };
    @include mx-mobile-lg(){
        background-position: 71% 0;
    };
    .hero-text{
        @extend %primary-color;
        font-size: 27px;
        margin-right: 100px;
        @include mx-desktops(){
            margin-right: 0px;
        };
        @include all-below-med(){
            font-size: 24px;
            margin-right: 220px;
        };
        @include mx-mobile(){
            font-size: 16px;
            margin: -92px 0px 0 0;
        };
        @include mx-mobile-lg(){
            font-size: 16px;
        };
        h1{
            font-size: 56px;
            @extend %primary-color;
            @extend %uppercase;
            @include all-below-med(){
                font-size: 30px;
            };
            @include mx-mobile(){
                margin-bottom: 5px;
            };
        }
        @include mx-extra-large-desktops(){
           
        };
    }
    .hero-shape{
        @extend %posabsolute;
        left: 65%;
        bottom: -13%;
        @include mx-large-desktops(){
            left: 63%;
            bottom: -12%;
        };
        @include mx-desktops(){
            left: 59%;
        };
        @include all-below-med(){
            left: 69%;
            bottom: 1%;
            width: 200px;
        };
        @include mx-mobile-lg(){
            left: 64%;
        };
        @include mx-mobile(){
            display: none;
        };
    }
    .round-shape1{
        @extend %posabsolute;
        left: 70%;
        top: 10%;
        @include mx-mobile(){
            display: none;
        };
    }
    @include mx-mobile(){
        background-position: 80% 22px;
        height: 220px;
    };
    
}

.hero-area.hero-area-2  {
    position: relative;
    color: #fff;
}
.hero-area.hero-area-2 .hero-text h1{
    color: #fff;
}
.hero-area.hero-area-2 .hero-text{
    color: #fff;
}
.hero-area-2 .car-photo {
    position: absolute;
    right: 4%;
    bottom: -20%;
}
.hero-area-2 .hero-text {
    margin-right: 0;
    color: #fff;
}
.hero-area-2 .hero-text h1 {
    color: #fff;
}
.hero-area-2 .hborder:after {
    background-color: #fff;
}
.hero-area-2 .hero-shape {
    left: 48%;
    bottom: 0%;
    z-index: 2;
}


/*================.we-are-area-1=====================*/
.we-are-area-1 {
    padding: 140px 0 130px;
}
.we-are-img img {
    @extend %borderradius5;
}
.we-are-text {
    padding-right: 50px;
}


/*==============.customers-demands-area==================*/ 
.customers-demands-area {
    background-color: #CFEEF3;
    padding: 80px 0 70px;
}
.customers-demands-text {
    padding-left: 50px;
}
.customers-demand img{
    @extend %borderradius5;
}

/*============.we-are-area-2==============*/ 
.we-are-area-2 {
    padding: 120px 0 70px;
}

/*======.smart-search-area========*/ 
.smart-search-area {
    padding: 70px 0;
}
.smart-search-text {
    padding-left: 50px;
}
.smart-search-img img{
    @extend %borderradius5;
}

/*==========.online-reservation-area===============*/ 
.online-reservation-area {
    padding: 70px 0;
}
.online-reservation-text {
    padding-right: 100px;
}


/*==========.finance-technology-area============*/ 
.finance-technology-area {
    padding: 70px 0;
}
.finance-technology-text {
    padding-left: 100px;
}


/*===========.seo-optimised-area=============*/ 
.seo-optimised-area {
    padding: 70px 0 90px;
}
.seo-optimised-text {
    padding-right: 50px;
}


/*=========.social-media-area============*/ 
.social-media-area {
    padding: 90px 0 130px;
}
.social-media-text {
    padding-left: 30px;
}
.social-media-text ul li {
    list-style: outside;
    padding-left: 20px;
    margin-left: 18px;
}
.social-media-text ul {
    margin: 20px 0 20px;
}


/*=======.contact-area============*/ 
.contact-area {
    background-color: #41228E;
    color: #fff;
    font-size: 22px;
    padding: 100px 0;
}
.contact-area h2 {
    color: #f54ea2;
    font-size: 43px;
    font-weight: 500;
    margin-bottom: 20px;
}
.contact-area h3{
    font-size: 22px;
    margin: 0 0 10px;
}
.contact-area .phone-number {
    font-size: 32px;
    font-weight: 600;
    display: block;
    line-height: 1;
}