/*****************************
00. Common CSS
******************************/

body {
    font-family: $body-font;
    font-size: $body-font-size;
    color: $body-color;
    @include all-below-med(){
        font-size: 14px;
    };
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: $heading-font;
}
p {
    font-weight: 400;
    &:last-child{
    	margin-bottom: 0;
    }
}
a, button, img, input, span {
    @extend %basetransition; 
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"], textarea {
    
}
input[type="submit"], button[type="submit"]{
    cursor: pointer;
}
input, textarea{
	@include placeholder{
		@extend %body-color;
	}
}
.section-title {
    font-size: 38px;
    margin-bottom: 10px;
    @extend %secondary-color;
    @include all-below-med(){
        font-size: 28px;
        font-weight: 500;
    };
}
.section-title-2 {
    @extend %secondary-color;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    @include all-below-med(){
        font-size: 28px;
        br{
            display: none;
        }
    };
}



/*
======.owl-dots customization=======
*/
.owl-dots div {
    height: 5px;
    width: 5px;
    @extend %primary-bg-color;
    @extend %displayinline;
    @extend %borderradius50;
    margin: 0 5px;
}
.owl-dots {
    @extend %textcenter;
}
.owl-dots div.active {
    @extend %primary-deep-color;
}

/*
=====owl nav customization======
*/
.owl-nav div {
    @extend %displayinline;
    @extend %posabsolute;
    @extend %primary-color;
    left: 0px;
    top: 50%;
    font-size: 50px;
    line-height: 60px;
    margin-top: -35px;
}
.owl-nav div.owl-next {
    left: auto;
    right: 0px;
}
.owl-nav div:hover {
    @extend %primary-deep-color;
}

select {
    font-size: 19px;
    @extend %primary-color;
    @extend %white-bg-color;
    @extend %borderradius5;
    border: 0;
    padding: 8px 10px;
}





















